.slider {
  position: absolute;

  &--label {
    color: #fff;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &--bar {
    background-color: #0aa;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #055 inset;
    box-sizing: border-box;
    position: absolute;
  }

  &--handle {
    background-color: #0cc;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 -1px 3px 0 #055 inset;
    box-sizing: border-box;
    cursor: grab;
    height: 34px;
    position: absolute;
    transition: background-color 0.2s;
    width: 34px;

    &:hover {
      background-color: #0aa;
    }

    &:active {
      cursor: grabbing;
    }
  }

  &.vertical {
    .slider--bar {
      bottom: 0;
      left: 50%;
      margin-left: -3px;
      top: 30px;
      width: 6px;
    }

    .slider--handle {
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
    }
  }
}