$bar-color: #333;
$handle-color-1: #08c;
$handle-color-2: #0c8;
$handle-color-3: #c08;

@mixin handle-theme($color) {
  background-color: $color;

  &:hover, &:active {
    background-color: lighten($color, 10%);
  }
}

.slider {
  position: absolute;

  &--label {
    color: #fff;
    cursor: default;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &--bar {
    background-color: $bar-color;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
  }

  &--handle {
    border-radius: 50%;
    cursor: grab;
    height: 24px;
    position: absolute;
    transition: background-color 0.2s, box-shadow 0.2s;
    width: 24px;

    &:hover {
      box-shadow: 0 0 0 4px rgba(150,200,255,0.2);
    }

    &:active {
      box-shadow: 0 0 0 8px rgba(150,200,255,0.3);
      cursor: grabbing;
    }
  }

  &--handle {
    &:nth-child(n) {
      @include handle-theme($handle-color-1);
    }

    &:nth-child(2n) {
      @include handle-theme($handle-color-2);
    }

    &:nth-child(3n) {
      @include handle-theme($handle-color-3);
    }
  }

  &.vertical {
    .slider--bar {
      bottom: 0;
      left: 50%;
      top: 35px;
      transform: translateX(-50%);
      width: 5px;
    }

    .slider--handle {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.horizontal {
    .slider--bar {
      height: 5px;
      left: 0;
      right: 0;
      top: 35px;
      transform: translateY(-50%);
    }

    .slider--handle {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}